.Section{
    width: 200px;
    color: black;
    border: 1px solid black;
    background-color: wheat;
    padding: 60px;
    font-size: 20px;
}

.Section:hover{
    color: red;
}

.sideboard{
    width: 321px;
    height: 145px;
    top: 100%;
    left: 0%;
    background-color: wheat;
}

.button{
    width: 100px;
    background-color: wheat;
    border: wheat;
    height: 20px;
}

.subSection{
    
}